@mixin flexCentered {
 display: flex;
 display: -webkit-flex;
 display: -moz-flex;
 display: -ms-flex;
 justify-content: center;
 align-items: center;
}

@mixin borderTest {
 border: 1px solid rgb(250, 151, 151);
}

@mixin sectionBorderTest {
 border-top: 2px solid khaki;
 border-bottom: 2px solid khaki;
}

@mixin transition-ease {
 transition: all 400ms ease-in-out;
}
@mixin transition-fast {
 transition: all 200ms ease-in-out;
}

$borderTest: 1px solid rgb(241, 31, 31);
$hoverColor: #f9b9b7;
