@media screen and (max-width: 1230px) {
 .slide-footer {
  grid-template-columns: 2fr 3fr;
 }
 .slide-primary__content-container {
  grid-template-columns: 4fr 1fr;
 }
 .slide-primary__content-container__text {
  width: 100%;
  margin-bottom: 13em;
 }
 .slide-primary__text-container {
  justify-content: center;
 }
 .slide-text-left {
  margin-right: 3em;
  margin-left: -6vw;
 }
}

@media screen and (max-width: 1012px) {
 .slide-footer__middle-text {
  padding: 0.7em;
 }

 .slide-primary__header {
  margin-top: -70vh;
 }
}
@media screen and (max-width: 900px) {
 .slide-footer__middle {
  padding: 1em;
  &-text {
   padding: 0.5em;
  }
 }
}

@media screen and (max-width: 890px) {
 .slide-primary__header {
  font-size: 7rem;
 }
 .slide-text-left {
  margin-right: 3em;
  margin-left: -5vw;
 }
}

@media screen and (max-width: 788px) {
 body {
  overflow: auto;
 }
 .slide {
  flex-direction: column;

  &-primary {
   width: 100%;

   &__content-container {
    width: 100%;
   }
   &__header {
    margin-left: 6vw;
   }
   &__side-header {
    top: 4em;
    //    right: 13%;
    margin-right: 0.2em;
    font-size: 3.5vw;
    line-height: 40px;
   }
  }
  &-footer {
   width: 100% !important;
   height: 20vh;
  }
  &-footer__middle {
   &-text {
    padding: 1em;
   }
  }
 }
 .slide-primary__img-techguy {
  right: -100%;
 }

 .side-slide__container {
  width: 100%;
 }
 div.side-slide__img-techguy {
  right: -100% !important;
 }
 .side-slide__content {
  height: 100%;

  &__heading {
   font-size: 9vw;
  }

  &__pagination-tracker {
   //    bottom: 46em;
   top: 18px;
   align-items: flex-start;
   width: 100%;
   right: 0;
  }
  &__footer {
   padding: 2em 10em 0em;
   font-size: 1.4rem;
  }
 }
}

@media screen and (max-width: 671px) {
 .slide-primary__img-container {
  //   height: 74vh;
 }
 .slide-primary__content-container {
  height: 78vh;
 }
 .slide-footer {
  font-size: 0.8rem;
  //   height: 26vh;

  &__middle {
   //    height: 26vh;
  }
  .slide-footer__left {
   margin: 0;
  }
  .slide-footer__middle-text {
   padding: 2em 0em 1em 1em;
   line-height: 2em;
  }
  div.slide-footer__left__play-btn {
   padding: 1.4em;
  }
 }
}

@media screen and (max-width: 600px) {
 .slide-primary__header {
  font-size: 12vw;
 }
 .slide-primary__content-container__text {
  width: 111% !important;
 }
 //  .slide-primary__content-container__text {
 //   width: 100%;
 //   margin-bottom: 13em;
 //  }
 .slide-text-left,
 .slide-text-right {
  font-size: 2.6vw;
 }
 .slide p.slide-text-left {
  margin-right: 3%;
 }

 .slide-side-header {
  top: 7em;
  font-size: 3vw;
  margin-right: 2vw;
  line-height: 24px;
 }
 .side-slide__content__footer {
  padding: 2em;
 }
}

@media screen and (max-width: 530px) {
 //  .slide-primary__header {
 //   margin-left: 13vw;
 //  }

 .slide-primary__img-cyberpunk {
  .slide-cyberpunk {
   visibility: hidden;
  }
  background: url('../src/cyberpunk-bg-mobile.png');
  background-size: cover;
 }
 .slide-primary__img-techguy {
  background: url('../src/techguy-bg-mobile.png') center;
  background-size: cover;
  height: 135vh;

  .slide-techguy {
   visibility: hidden;
  }
 }
 .slide-primary__content-container {
  grid-template-columns: auto;
  text-align: center;
 }

 .slide-primary__content-container__text {
  width: 110% !important;
  margin-bottom: 16vh;
  padding: 0 0.4em;
  margin-left: 0;
  text-align: left;
 }
 //  .slide-text-left {
 //   margin-right: 0;
 //  }
 .slide-text-left,
 .slide-text-right {
  width: 50%;
 }

 article.side-slide__social-media__container {
  display: inline-block !important;
 }
 div.slide-footer__left__btn-container {
  position: absolute;
  bottom: 28em;
  width: 24%;
 }

 div.slide-primary__side-content__container {
  display: none;
 }
 //  div.slide-footer__left__play-btn {
 //   padding: 1.4em;
 //  }

 article.slide-footer__left__social-media {
  display: none;
 }
 .slide div.slide-footer {
  grid-template-columns: 1fr;
 }

 section.slide-footer__middle {
  //   padding: 4em;
 }
}
